input {
    width: 95%;
    padding: 12px 20px;
    margin: 15px 0;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 16px;
  }

#subjectArea {
    height: 200px;
}

textarea {
    width: 95%;
    padding: 12px 20px;
    margin: 15px 0;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    input {
        margin: 12px 1rem;
    }

    textarea {
        margin: 12px 1rem;
    }
    form .errorText {
        padding-left: 1rem;
    }

  }

form .errorText {
	color: #e53e3e;
    font-size: 12px;
    padding-right: 1rem;
    display: inline-block;
    overflow: hidden;
}



